.App{
    min-width: 100vw;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App form{
    margin: 16px;
}

button{
    background: white;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
    margin: 8px;
}

.interactBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}