.App{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App form{
    margin: 16px;
}

button{
    background: white;
    color: black;
    cursor: pointer;
    outline: none;
}