*{
  margin: 0;
  padding: 0;
}

.App{
  width: 90%;
  margin: 0 auto;
}

.question__title{
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
}

.mb-24{
  margin-bottom: 24px;
}